* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #3877D6;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    height: 400px;
    margin-top: 10px;

}